<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> login page </title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		<div align="center">
		<h3> User Login </h3> 
		<form action="#"  th:object="${user}" th:action="@{/userLogin}" method="post">
			<label>UserName</label>
			<input type="text" th:field="*{username}"/> </br> </br>
			<label>Password</label>
			<input type="password" th:field="*{password}"/> </br> </br>
			<input type="submit" value="LOGIN"/> </br>
		</form>
			</br>
			<label th:text="${message}"></label>
		</div>
	</body>
</html>